*{
    box-sizing: border-box;
}
.container{
    width: 800px;
    text-align: center;
}
.container .box{
    float: left;
    width: 50%;
    border: white;
    border:100px;
    padding: 80px;
}
.container .box img{
    width: 400px;
    height: 400px;
}