<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/blog.js"></script>
    <title>MLOG</title>
</head>

<body>
    <div id="nav">
        <a href="index.html" id="test1">HOME</a>
        <a href="#">BLOG</a>
        <a href="#">NOTE</a>
        <a href="#">PHOTOS</a>
    </div>

    <div>
        <textarea name="blogContent" id="" cols="30" rows="10">bilibalaboom!</textarea>
    </div>
    <button type="button" onclick="alert('发布成功！')">发布</button>
</body>

</html>