<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyako&Lai's Home</title>
    <link rel="stylesheet" href="noname.css">
</head>
<body>
    <h1 align="center">
        Nyako & Lai 的小窝
    </h1>
    <div align="middle">
        <img src="images/Lai.jpg" alt="（//▽//）" title="Lai" width="500" height="500" align="middle">
    </div>
    <div align="middle">
        <img src="images/nayko.jpg" alt="（//▽//）" title="Nyako" width="500" height="500"
        align="middle">
    </div>
    
</body>
</html>